*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
.container{
    background-color: rgb(51,45,45);
    border-radius: 5px;
    color: white;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.input-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}


input{
    width: 100%;
    background: transparent;
    border: 1px solid white;
    border-radius: 2px;
    padding: 8px 13px;
    color: white;
}
.btn{
    width: 100%;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
    border-radius: 2px;
    padding: 8px 13px;
    color: white;
}

.btn:hover{
    background-color: rgb(56, 52, 52);
}